<div class="authform">
  <h3>Editar <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Esperando confirmación de la dirección: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Deje estos campos en blanco si no quiere cambiar su clave.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

    </fieldset>
    <fieldset>
      <p>Debe ingresar su clave actual para realiza cambios.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.fields_for :profile do |ff| %>
      <div class="form-group">
        <%= ff.label :first_name %>
        <%= ff.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= ff.label :last_name %>
          <%= ff.text_field :last_name, class: 'form-control' %>
      </div>

    <% end %>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>

<div class="authform">
<h3>Borrar Cuenta</h3>
<p>Le agradecemos haber formado parte de SMAndesBaches, esperamos que vuelva.</p>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
