<!-- El código javascript se encuentra en la página ya que no pudimos hacerlo funcionar mediante assets (todos los javascript se cargan en todas las páginas ), y los métodos que encontramos por la web en cuanto a organización y carga condicional de los scripts no funcionaron.  -->
<script>
    // funcion de get_location.js
    $(document).ready(function()
    {
        getLocation();
        // crear el mapa
        createMap(<%=raw @hash.to_json %>, 14);
        listener();
    });
    listener();
</script>

<%= form_for @publication do |form| %>
    <p>
        <%= form.label :category %><br>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name, :selected => @publication.category_id %>
    </p>

     <p>
         <%= form.label :street %><br>
         <%= select_tag "street", options_from_collection_for_select(Street.all, "id", "name" ) %>
         <%= form.label :number %>
         <%= form.number_field :number %>
    </p>
    <p>
        <button type="button" onclick="JavaScript:getGeocodeLocation()">Get Location</button>
    </p>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
        	<%= form.label :decription %><br>
        	<%= form.text_area :description %>
	</p>


	<%= form.label :photo %><br>
    <%= form.file_field :photo %>

	<!-- Latitud y longitud las saco del browser y van en campos ocultos. -->
	<p>
        	<%= form.hidden_field :latitude, :id=>"latitud", :class => 'text_field', :step => 'any' %>
	</p>

	<p>
        	<%= form.hidden_field :longitude, :id=>"longitud", :class => 'text_field', :step => 'any' %>
	</p>

	<p>
        <%= form.hidden_field :published, :id=>"publicado", :class => 'checkbox', :value => 'true' %>
	</p>

	<div style='width: 500px;'>
	  <div id="map" style='width: 500px; height: 250px;'></div>
	</div>

    <p>
        <%= form.submit %>
    </p>


<% end %>
