<script>
	$(document).ready(function()
	{
		getLocation();
	});
	
	// usePosition es llamada desde getLocation.js
	function usePosition(position) {
		document.getElementById("latitud").value = position.coords.latitude;
		document.getElementById("longitud").value = position.coords.longitude;
	}
</script>

<%= form_for @publication do |form| %>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
        	<%= form.label :decription %><br>
        	<%= form.text_area :description %>
	</p>

	<!-- Latitud y longitud las saco del browser y van en campos ocultos. -->
	<p>
        	<%= form.hidden_field :latitude, :id=>"latitud", :class => 'text_field', :step => 'any' %>
	</p>
	
	<p>
        	<%= form.hidden_field :longitude, :id=>"longitud", :class => 'text_field', :step => 'any' %>
	</p>
	

	<p>
		<%= form.submit %>
	</p>

<% end %>
