<!-- El código javascript se encuentra en la página ya que no pudimos hacerlo funcionar mediante assets (todos los javascript se cargan en todas las páginas ), y los métodos que encontramos por la web en cuanto a organización y carga condicional de los scripts no funcionaron.  -->
<script>

    var marker;
    var handler = Gmaps.build('Google');

    // funcion de get_location.js
    $(document).ready(function()
    {
        getLocation();
        // crear el mapa
        createMap();
    });
    
    // Toma del navegador las coordenadas y llama a una función usePosition que debe ser definida
    // en la página que incluye a éste script
    function getLocation() 
    {
        navigator.geolocation.getCurrentPosition(function(position){
                usePosition(position);
            }, function(error) {
                    x.innerHTML = "Geolocation is not supported by this browser.";
            });
    }

    // usePosition es llamada desde getLocation.js
    function usePosition(position) {
        $("#latitud").val(position.coords.latitude);
        $("#longitud").val(position.coords.longitude);
        // centro el mapa en la posición que envía el navegador
        handler.map.centerOn([position.coords.latitude, position.coords.longitude]);
    }

    function createMap()
    {
        // cuando se construye el mapa el centro está en el centro de SMA
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            handler.fitMapToBounds();
            handler.map.centerOn([-40.1552557,-71.3472031]);
            handler.getMap().setZoom(14);
        });

        // listener para agregar un marker. se permite sólo uno
        google.maps.event.addListener(handler.getMap(),'click',function(event){
            $("#latitud").val(event.latLng.lat());
            $("#longitud").val(event.latLng.lng());
            addMarker(event.latLng);
        });

    }
    // si existe el marker, lo cambia a la nueva posición, si no exite lo crea
    function addMarker(location){
        if ( marker )
        {
            marker.setPosition(location);
        } else {
            marker = new google.maps.Marker({
                position: location,
                map: handler.getMap()
            });
        }
    }
    
    function getGeocodeLocation()
    {
        var searchText = $('street').text()+" "+$('number').val()+" ,San Martin de los Andes";
        var geocoder = new google.maps.Geocoder();

        if(!geocoder) geocoder = new GClientGeocoder();
        
         geocoder.geocode({'address': searchText}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          handler.map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: handler.map,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
  });

    }
</script>

<%= form_for @publication do |form| %>
    <p>
        <%= form.label :category %><br>
        <%= form.collection_select :category_id, Category.order(:name),:id,:name, :selected => @publication.category_id %>
    </p>

     <p>
         <%= form.label :street, :id=>'street' %><br>
         <%= select("name", "street_id", Street.all.collect {|s| [ s.name, s.id ] }) %>
         <%= form.label :number %>
         <%= form.text_field :number, :id=>'number' %>
    </p>
    <p>
        <button type="button" onclick="JavaScript:getGeocodeLocation()">Get Location</button> 
    </p>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
        	<%= form.label :decription %><br>
        	<%= form.text_area :description %>
	</p>


	<%= form.label :photo %><br>
    <%= form.file_field :photo %>

	<!-- Latitud y longitud las saco del browser y van en campos ocultos. -->
	<p>
        	<%= form.hidden_field :latitude, :id=>"latitud", :class => 'text_field', :step => 'any' %>
	</p>

	<p>
        	<%= form.hidden_field :longitude, :id=>"longitud", :class => 'text_field', :step => 'any' %>
	</p>

	<p>
        <%= form.hidden_field :published, :id=>"publicado", :class => 'checkbox', :value => 'true' %>
	</p>

	<div style='width: 500px;'>
	  <div id="map" style='width: 500px; height: 250px;'></div>
	</div>

    <p>
        <%= form.submit %>
    </p>


<% end %>
