<script>
	$(document).ready(function()
	{
		getLocation();
	});
	
	// usePosition es llamada desde getLocation.js
	function usePosition(position) {
		document.getElementById("latitud").value = position.coords.latitude.toString();
		document.getElementById("longitud").value = position.coords.longitude.toString();
	}
</script>

<script> 
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers((<%=raw @hash.to_json %>));
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>

<%= form_for @publication do |form| %>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
        	<%= form.label :decription %><br>
        	<%= form.text_area :description %>
	</p>

	<!-- Latitud y longitud las saco del browser y van en campos ocultos. -->
	<p>
        	<%= form.hidden_field :latitude, :id=>"latitud", :class => 'text_field', :step => 'any' %>
	</p>
	
	<p>
        	<%= form.hidden_field :longitude, :id=>"longitud", :class => 'text_field', :step => 'any' %>
	</p>
	
	<p>
        	<%= form.hidden_field :published, :id=>"publicado", :class => 'checkbox', :value => 'false' %>
	</p>
	
	<div style='width: 500px;'>
		<div id="map" style='width: 500px; height: 250px;'></div>
	</div>

	<p>
		<%= form.submit %>
	</p>

<% end %>
