<div class="col-md-5">
	<h1 style="margin-top: 50px">Publicaciones</h1>

	<%= form_tag publications_path, :method =>'get', id: "filter", class: 'form-inline' do %>
		<p>
			<div class="form-group col-md-12">
				<%= text_field_tag :search, params[:search], class: 'form-control' %>
				<%= submit_tag "Buscar", :name => nil, class: 'btn btn-primary'%>
			</div>
		</p>

	<% end %>
</div>

<div class="row" style="margin: 40px">
	<div  id="cont" class="col-md-6 thumbnail">
		<div id="map" style="width: 100%; height:250px"></div>
	</div>
</div>
<script>
	$(window).resize(function(){
		$('#map').css("width",$('#cont').width());
		google.maps.event.trigger(map, 'resize');
	});
	createMap(<%=raw @hash.to_json %>, 13);
</script>

<!-- Contenido de la pagina -->
<div class="container">

	<div class="row">

		<div class="col-md-12">
			<hr>
			<div class="row">
				<div class="col-md-3">
					<%= link_to 'Nueva Publicación', new_publication_path, :protocol => 'https://', :class => "btn btn-primary"%>
					<p class="lead">Categorias:</p>
					<%= form_tag publications_path, :method =>'get', id: "filter" do %>
						<%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name", params[:category]),
						:onchange => "$('#filter').submit();", :class => 'form-control'%>
					<% end %>
				</div>
					<% @publications.each do |publication| %>

					<div class="col-sm-3 col-md-3">

						<div class="thumbnail">
							<%= link_to publication_path(publication) do %>
  							<%= image_tag (publication.photo.url(:thumb)) %>
							<% end %>

								<div class="caption">
									<h4><%= link_to publication.title, publication_path(publication), :protocol => 'https://' %></h4>
									<p><%= publication.description%></a>.</p>
								</div>
                <%= link_to like_publication_path(publication), method: :put do %>
                  <div class="col-md-3">
                		<%= image_tag('like.gif')%>
                  </div>
                  <p class="col-md-3"><%= publication.get_upvotes.size %></p>
                <% end %>

            		<%= link_to dislike_publication_path(publication), method: :put do %>
                  <div class="col-md-3">
                    <%= image_tag('dislike.gif')%>
                  </div>
                  <%= publication.get_downvotes.size %>
            		<% end %>
						</div>
          </div>

				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- /.container -->
<div class="container">
	<hr>
	<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>SmaBaches &copy; Laboratorio 4 Año:2016, Contacto: smabaches@gmail.com</p>
				</div>
			</div>
		</footer>
</div>
