<h1>Publicaciones</h1>

<%= link_to 'Nueva Publicación', new_publication_path, :protocol => 'https://', :class => "btn btn-primary"%>


<!-- Contenido de la pagina -->
<div class="container">

	<div class="row">

		<div class="col-md-12">
			<div class="row carousel-holder">

				<div class="col-md-3">
	        <p class="lead">Categorias:</p>
	        <div class="list-group">
	          <a href="#" class="list-group-item">Baches</a>
	          <a href="#" class="list-group-item">Graffitis</a>
	        </div>
	      </div>

				<div class="col-md-9" >

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>

					<div class="carousel-inner">
						<% publication = @publications.first %>
								<% if publication.present?%>

									<div class="item active">
										<%= image_tag publication.photo.url(:medium), :class => "slide-image"%>
										<div class="carousel-caption">
											<h3><%= publication.title %></h3>
			        				<p><%= publication.description %></p>
			      				</div>
							 		</div>

								<% end %>

								<% @publications.each do |publication| %>

									<% if publication != @publications.first%>

									<div class="item">
										<%= image_tag publication.photo.url(:medium)%>
										<div class="carousel-caption">
											<h3><%= publication.title %></h3>
			        				<p><%= publication.description %></p>
			      				</div>
									</div>

									<% end %>

						<% end %>

					</div>

				</div>

			</div>

			</div>

			<hr>

			<div class="row" >

				<% @publications.each do |publication| %>

					<div class="col-sm-3 col-md-3">

						<div class="thumbnail">
							<%= link_to publication_path(publication) do %>
  							<%= image_tag (publication.photo.url(:thumb)) %>
							<% end %>

								<div class="caption">
									<h4><%= link_to publication.title, publication_path(publication), :protocol => 'https://' %></h4>
									<p><%= publication.description%></a>.</p>
								</div>

						</div>

					</div>

				<% end %>
			</div>
	</div>
</div>

</div>

<!-- /.section -->
<hr>

  <div class="section">
    <div class="row">
        <div class="col-md-7">
          <h1>Mapa De Baches En La Ciudad:</h1>
          <p>Ubicacion geografica en la Ciudad de San Martin De Los Andes, de los baches detallados en las publicaciones</p>
        </div>
				<div class="col-md-5">
				  <div id="map" style="width: 450px;height:250px"></div>
				</div>
      </div>
  </div>

<script>
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers((<%=raw @hash.to_json %>));
	  handler.bounds.extendWith(markers);
		handler.map.centerOn([-40.1552557,-71.3472031])
		handler.getMap().setZoom(12);
	});
</script>

<!-- /.container -->
<div class="container">
	<hr>
	<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>SmaBaches &copy; Laboratorio 4 Año:2016, Contacto: smabaches@gmail.com</p>
				</div>
			</div>
		</footer>
</div>
