<div class="col-md-5 col-sm-5" style="margin-top:15px;">
	<div  id="cont" class="thumbnail col-md-12 col-sm-12">
		<%= form_tag publications_path, :method =>'get', id: "filter", :class => "form-group " do %>
			<div class="form-group col-md-12"  style="margin-top:20px;">
				<label for="message" class=" col-md-2 col-sm-2 control-label">Categorias:</label>
				<div class="col-md-10">
					<%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name", params[:category]),
					prompt: "Todos",:onchange => "$('#filter').submit();",:class => 'form-control'%>
				</div>
			</div>
		<% end %>
		<div class="form-group col-md-12 col-sm-12">
      <%= form_tag publications_path, :method =>'get', id: "search", class: 'form-inline' do %>
          <!-- Coordenadas de las esquinas del viewport del mapa en campos ocultos. -->
            <%= hidden_field_tag :swLat, params[:swLat], :class => 'text_field', :id => "swLat" %>
            <%= hidden_field_tag :swLng, params[:swLng], :class => 'text_field', :id => "swLng" %>
            <%= hidden_field_tag :neLat, params[:neLat], :class => 'text_field', :id => "neLat" %>
            <%= hidden_field_tag :neLng, params[:neLng], :class => 'text_field', :id => "neLng" %>
					<div class="col-md-10 col-sm-10">
				    <%= text_field_tag :search, params[:search], style: 'width:100%;', class:'form-control' %>
          </div>
        <%= submit_tag "Buscar" ,:name => nil, :class => 'btn btn-primary' %>
      <% end %>
    </div>
		<div class="thumbnail" id="map" style="width: 100%; height:310px"></div>
	</div>

	<script>
	  var currentDetail = null;
		$(window).resize(function(){
			$('#map').css("width",$('#cont').width());
			google.maps.event.trigger(map, 'resize');
		});
		createMap(<%=raw @hash.to_json %>, 13);
	</script>
</div>

<div class="col-md-3 col-sm-3" style="margin:15px;">
	<div class="panel panel-primary" style="max-height:455px;height:455px;">
		<div class="panel-heading"><strong>Publicaciones:</strong></div>
		<div class="panel-body;max-height:600px;">
			<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#todos">Todos</a></li>
				<% if @publications_current_user.present?%>
		    	<li><a data-toggle="tab" href="#menu1">Mis Publicaciones</a></li>
				<% end %>
		  </ul>

		  <div class="tab-content">
		    <div id="todos" class="tab-pane fade in active"  style="overflow-y:auto;max-height:355px;height:355px;margin:5px;">
					<% @publications.each do |publication| %>
						<div class="panel panel-default">
							<h4><a href="javascript:void(0)" onclick='show_table(<%= publication.id %>)'> <%= publication.title%> </a></h4>
						</div>
					<% end %>
		    </div>
		    <div id="menu1" class="tab-pane fade" style="overflow-y:auto;max-height:355px;height:355px;margin:5px;">
					<% if @publications_current_user.present?%>
						<% @publications_current_user.each do |publication| %>
							<div class="panel panel-default">
								<h4><a href="javascript:void(0)" onclick='show_table(<%= publication.id %>)'> <%= publication.title%> </a></h4>
							</div>
						<% end %>
					<% end %>
		    </div>
			</div>
		</div>
	</div>
</div>

<script>

  $(window).resize(function(){
    $('#map').css("width",$('#cont').width());
    google.maps.event.trigger(map, 'resize');
  });

  createMap(<%=raw @hash.to_json %>, 13);
  addDragListener();

  function show_table(nr)
  {
    if (currentDetail)
    {
      $(currentDetail).hide();
    }
    currentDetail = "#table"+nr;
    $(currentDetail).show();
    return false;
  }
</script>

<div class="col-md-3 col-sm-3" style="margin-top: 20px;">
	<% @publications.each do |publication| %>
	  <div style="display:none;" id="<%= 'table'+publication.id.to_s %>">
			<div class="row">
				<div class="col-sm-12 col-md-12" style="top: 50px;">
					<div class="thumbnail" style="height:350px;">
						<%= link_to publication_path(publication) do %>
							<%= image_tag (publication.photo.url(:thumb))%>
						<% end %>
	  				<div class="caption">
	    				<h4><%= link_to publication.title, publication_path(publication), :protocol => 'https' %>

							<%= link_to report_publication_path(publication), method: :put do%>
								<span style="color: #d9534f;" title="Denunciar" class="glyphicon glyphicon-exclamation-sign"></span>
							<% end %>
							</h4>
	    				<p><%= publication.description%></a>.</p>
							<div class="col-md-6 col-sm-6 col-xs-6"  style="text-align:center;">
								<%= link_to like_publication_path(publication), method: :put do %>
									<span class="glyphicon glyphicon-thumbs-up"></span>
									<%= publication.get_upvotes.size %>
								<% end %>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6"  style="text-align:center;">
								<%= link_to dislike_publication_path(publication), method: :put do %>
									<span class="glyphicon glyphicon-thumbs-down"></span>
									<%= publication.get_downvotes.size %>
								<% end %>
							</div>
	  				</div>
						<div class="btn-group col-md-12">
							<%= link_to publication_path(publication),'data-no-turbolink' => true, :class => "btn btn-primary" do%>
								<span class="glyphicon glyphicon-eye-open">Ver</span>
							<% end %>
							<% if policy(publication).edit? %>
								<%= link_to edit_publication_path(publication),:protocol => 'https', :class => "btn btn-warning", 'data-no-turbolink' => true do%>
									<span class="glyphicon glyphicon-pencil">Editar</span>
								<% end %>
							<% end %>
							<% if policy(publication).destroy? %>
								<%= render :partial => 'publications/modal_confirm_delete', :locals => { :publication => publication }%>
								<button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete<%=publication.id %>">
									<span class="glyphicon glyphicon-trash">Borrar</span>
								</button>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<!-- /.container -->
<div class="container col-md-12 col-sm-12">
	<div class="col-md-12" style="margin-bottom:2px;">
		<%= link_to  new_publication_path, :protocol => 'https', style:'float: right;', :class => "btn btn-success", 'data-no-turbolink' => true do %>
			<span class="glyphicon glyphicon-plus-sign">NuevaPublicación</span>
		<% end %>
	</div>
	<hr>
	<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>SmaBaches &copy; Laboratorio 4 Año:2016, Contacto: smabaches@gmail.com</p>
				</div>
			</div>
		</footer>
</div>
