
<h1>
	<strong>T&iacute;tulo:</strong>
	<%= @publication.title %>
</h1>

<h3>
	Autor: <%= @publication.author.email%>
</h3>

<p>
	<strong>Descripci&oacute;n:</strong>
	<%= @publication.description %>
</p>

<p>
		<strong>Latitud:</strong>
    <%= @publication.latitude %>
</p>

<p>
		<strong>Longitud:</strong>
    <%= @publication.longitude %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @publication.photo.thumb.url %>
</p>

<div class="btn-group">
	<% if policy(@publication).edit? %>
		<%= link_to 'Editar', edit_publication_path(@publication), :class => "btn btn-default" %>
	<% end %>

	<% if policy(@publication).destroy? %>
		<%= link_to 'Borrar', publication_path(@publication), method: :delete, :class => "btn btn-default"  %>
	<% end %>

	<%= link_to 'Volver al índice', publications_path, :class => "btn btn-default"  %>
</div>
