
<h1>
	<strong>T&iacute;tulo:</strong>
	<%= @publication.title %>
</h1>

<h3>
	Autor: <%= @publication.author.email%>
</h3>

<p>
	<strong>Descripci&oacute;n:</strong>
	<%= @publication.description %>
</p>

<p>
		<strong>Latitud:</strong>
    <%= @publication.latitude %>
</p>

<p>
		<strong>Longitud:</strong>
    <%= @publication.longitude %>
</p>

<%= link_to 'Editar', edit_publication_path(@publication) %><br>

<%= link_to 'Borrar', publication_path(@publication), method: :delete %> <br>

<%= link_to 'Volver al índice', publications_path %>
