<!-- El código javascript se encuentra en la página ya que no pudimos hacerlo funcionar mediante assets (todos los javascript se cargan en todas las páginas ), y los métodos que encontramos por la web en cuanto a organización y carga condicional de los scripts no funcionaron.  -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center">
      <strong>T&iacute;tulo:</strong>
      <%= @publication.title %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="col-md-12 thumbnail">

      <div class="col-md-4">
        <strong>Imagen:</strong>
        <%= image_tag @publication.photo.url(:thumb1)%>
      </div>

      <div id="cont" class="col-md-5">
        <strong>Ubicación:</strong>
        <div claas="col-md-4">
          <div id="map" style="width: 400px; height:250px"></div>
        </div>
      </div>

      <script>
          $(window).resize(function(){
            $('#map').css("width",$('#cont').width());
            google.maps.event.trigger(map, 'resize');
          });

          createMap(<%=raw @hash.to_json %>, 14);
      </script>


      <div class="panel panel-default col-md-3">
        <h4>
           Autor: <%= @publication.author.email%>
        </h4>
        <p>
          <h5>Descripci&oacute;n:</h5>
          <%= @publication.description %>
        </p>
      </div>

      <div class="panel panel-default col-md-3"  style="overflow-y: auto; max-height:300px">
        <%= commontator_thread(@publication) %>
      </div>

      <h2 class="col-md-12">Votos:</h2>
      <%
      if @publication.votes_for.present?
        total =  @publication.votes_for.size
        porcentaje_pos =  @publication.get_upvotes.size * 100 / total
        porcentaje_neg = @publication.get_downvotes.size * 100 / total
      end
      %>

      <h4 class="col-md-12">Positivos: <%= @publication.get_upvotes.size %></h4>

      <div class="progress col-md-12">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= porcentaje_pos%>"
          aria-valuemin="0" aria-valuemax="100" style="width:<%= porcentaje_pos%>%">
          Positivo:<%= porcentaje_pos%>%
        </div>
      </div>

      <h4 class="col-md-12">Negativos: <%= @publication.get_downvotes.size %></h4>

      <div class="progress col-md-12">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= porcentaje_neg%>"
          aria-valuemin="0" aria-valuemax="100" style="width:<%= porcentaje_neg%>%">
          Negativo:<%= porcentaje_neg%>%
        </div>
      </div>

      <div class="btn-group col-md-12">
        <%= link_to publications_path, :class => "btn btn-primary", 'data-no-turbolink' => true do %>
        <span class="glyphicon glyphicon-arrow-left">Atras</span>
        <% end %>

        <% if policy(@publication).edit? %>
          <%= link_to edit_publication_path(@publication), :class => "btn btn-warning", 'data-no-turbolink' => true do %>
            <span class="glyphicon glyphicon-pencil">Editar</span>
          <% end %>
        <% end %>

        <% if policy(@publication).destroy? %>
          <%= render :partial => 'publications/modal_confirm_delete', :locals => { :publication => @publication }%>
          <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete<%=@publication.id %>">
            <span class="glyphicon glyphicon-trash">Borrar</span>
          </button>
        <% end %>
      </div>

    </div>
  </div>
</div>
